.chat-item-send {
  display: flex;
  margin: 5px;
  padding: 10px;
  .chat-list-item-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chat-list-item-right {
    flex: 9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.chat-item-accept {
  display: flex;
  margin: 5px;
  padding: 10px;
  .chat-list-item-left {
    flex: 9;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .chat-list-item-right {
    flex: 1;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
